/* Estilos para el cuerpo con fondo borroso y tinte azul solo en la página de login */
body.login-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../Imagenes/Negocio.jpg'); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Efecto de desenfoque */
    z-index: -2; /* Poner la imagen detrás del contenido */
}

body.login-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.5); /* Capa azul semitransparente */
    z-index: -1; /* Poner el filtro de color sobre la imagen */
}




/* Estilos para el formulario de login */
.Login {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.Login h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.form-control {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.role-selector {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.role-selector label {
    font-size: 1rem;
    color: #333;
}

.btn {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}
